<!--Flash mesajları için http://flask.pocoo.org/docs/0.12/patterns/flashing/-->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    
    {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {% if category == "success" %}
          <strong>Tebrikler!</strong> {{message}}
        {% else %}
          <strong>Başarısız!</strong> {{message}}
        {% endif %}
      </div>
      
    {% endfor %}
    
  {% endif %}
{% endwith %}