{% extends "layout.html" %}
{% block title %}
Hakkımda
{% endblock %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt arcu libero.
   Fusce dapibus, eros in molestie rhoncus, nibh mi placerat nisl, eget viverra diam ipsum nec arcu.
   Suspendisse non orci vitae nunc scelerisque eleifend. Praesent et augue non tortor tristique 
   consectetur. Sed eu dui nulla. Cras vel arcu quis purus consequat dictum. 
   Nulla eget commodo nibh, eget congue tortor. Maecenas sit amet euismod lectus. 
   Ut interdum arcu ex, id varius dolor accumsan ut. Mauris fringilla sem ut arcu blandit, 
   nec tempor nunc facilisis. Fusce est turpis, semper a semper ac, convallis sit amet nisi. 
   In hac habitasse platea dictumst. Etiam tincidunt odio lorem, non rutrum elit condimentum eu. 
   Mauris a risus diam.</p>
{% endblock %}