<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST PAGE</title>
    <style type="text/css">
        #dis_bolme{
            width: 500px;
            height: 250px; 
        }
        .ic_bolme{
            float: left;
            width: 150px;
            height: 150px;
            margin-right: 0px;
            margin-left: 4px;
        }
    </style>
</head>
<body>
    <h3>ANA SAYFA</h3>
    <hr>
    <p>{{number[0]}}</p>
    <p>{{number[1]}}</p>
    <div id="dis_bolme">
        <div class="ic_bolme">
            {% for x in articles %}
            <p>{{x}} :</p>
            {% endfor %}
        </div>
        <div class="ic_bolme">
            {% for x in articles.values() %}
            <p>{{x}}</p>
            {% endfor %}
        </div>
    </div>
    {% if answer == "evet" %}
    <p>Cevabınız "{{answer}}"'miş.</p>
    {% else %}
        <p>Cevabınız yanlış.</p>
    {% endif %}
    <hr>
    {% if islem == 1%}
    <p>İşleminiz 1'miş.</p>
    {% elif islem == 2%}
    <p>İşleminiz 2'miş</p>
    {% else %}
    <p>Geçersiz işlem</p>
    {% endif %}
    <hr>
    <ul>
        {% for x in numbers %}
            <li>{{x}}</li>
        {% endfor %}
    </ul>
</body>
</html>